NEXT_PUBLIC_SUPABASE_URL=https://supabase.com/dashboard/project/mmfmmaitutpsatzuudns
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1tZm1tYWl0dXRwc2F0enV1ZG5zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjUyMDE5ODEsImV4cCI6MjA4MDc3Nzk4MX0.1iu2NQzQghpW1kFvKnJMGvmPmZMAJDKVCY7rbMb0uKQ

# User Authentication Passwords
PUTTY_PASSWORD=your_putty_password_here
SONY_PASSWORD=your_sony_password_here
