@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #09090b;
  /* Zinc 950 */
  --muted: #f4f4f5;
  /* Zinc 100 */
  --muted-foreground: #71717a;
  /* Zinc 500 */
  --border: #e4e4e7;
  /* Zinc 200 */
  --input: #e4e4e7;
  --primary: #18181b;
  /* Zinc 900 */
  --primary-foreground: #fafafa;
  /* Zinc 50 */
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --destructive: #ef4444;
  --destructive-foreground: #fafafa;
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}